{% extends 'layout/base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}

<div class="content">
    <section class="page-content container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="media d-user align-items-start">
                    {#<img src="{{$image}}" class="mr-4 ml-2 rounded-circle img-thumbnail o-cover" alt="profile-image" style="width: 130px; height: 130px;">#}
                    <div class="media-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="list-unstyled text-left row mb-0">
                                    <li class="mb-3 col-md-4"><label class="text-muted mb-1">Id</label><br> {{product.id}}</li>
                                    <li class="mb-3 col-md-4"><label class="text-muted mb-1">Title</label><br> {{product.title}}</li>
                                    <li class="mb-3 col-md-4"><label class="text-muted mb-1">Price</label><br> {{product.price}}</li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
